:root {
	--color-background: #000000;
	--color-text: #ffffff;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 90vw;

	@media (min-width: 768px) {
		width: 80vw;
	}

	@media (min-width: 1024px) {
		width: 60vw;
	}
}

h1 {
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid var(--color-text);
	margin-bottom: var(--base-size-16);
	font-weight: var(--base-text-weight-semibold, 600);
	line-height: 1.25;
}
